.Name {
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(1.9em + 1.9vmin);
  font-weight: bold;

  padding: 1em;
  text-decoration: underline;
  text-underline-offset: 0.3em;
  text-decoration-color: rgb(255, 229, 100);
  text-decoration-thickness: 0.4em;
  text-underline-position: under;
  text-decoration-style: dotted;

  margin-bottom: 0px;
}

.Act {
  margin-top: 5vh;

  color: black;
  font-weight: bold;
  border: 3px solid rgb(255, 255, 255);
  background-color: rgb(255, 242, 100);
  box-shadow: 0 0 5em rgb(255, 229, 100);
  border-radius: 15px;
  padding: 10%;
  margin-bottom: 12vh;
}
.Level {
  margin-bottom: 3vh;
  text-decoration: overline;
  font-size: calc(1em + 1vmin);
}
.Honor {
  font-style: italic;
  font-size: calc(0.8em + 0.8vmin);
  margin-bottom: 2vh;
  color: rgb(255, 229, 100);
}
